## Visual Studio ideiglenes fájlok
.vs/
*.suo
*.user
*.slnx
*.dtbcache*
*.futdcache*

## .NET fordítási termékek (Szemét)
bin/
obj/
Csharp/StreamTrack/StreamTrack/bin/
Csharp/StreamTrack/StreamTrack/obj/

## Felhasználó-specifikus beállítások
*.userosscache
*.sln.docstates

## Egyéb ideiglenes dolgok
*.tmp