*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html, body {
    width:100%;
    height: 100%;
}
body {
    margin: 0;
    display: block;
    background-color: rgba(115, 73, 0, 0.4);
    color: rgba(115, 73, 0, 1);
}
#tarolo {
    margin: 0 auto;
    width: 95vw;
    min-height: 100vh;
    background-color: rgba(255, 206, 96, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border-radius: 12px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
input {
    padding: 3px 10px;
    width:250px;
    border-radius: 10px;
    border: 2px solid rgba(115, 73, 0, 0.5);
    outline: none;
}
input:focus {
        border: 2px solid rgba(115, 73, 0, 1);
        outline: none;
}
ul {
    list-style: none;
}
#nkLista , #kLista , #archLista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#archLista {
    background: rgba(255,255,255,0.4);
    padding: 5px;
}
li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    margin: 5px 0;
    background: rgba(255,255,255,0.4);
    border-radius: 10px;
}
#hozzaAd, .btnKezs, .btnTorol, .btnArchiv, select {
    width: 80px;
    height: auto;
    padding: 3px;
    background-color: beige;
    color: rgba(115, 73, 0, 0.5);
    border-radius: 10px;
    border: 2px solid rgba(115, 73, 0, 0.5);
}
select, option{
    color: saddlebrown;
    width: 130px;
}
.btnKezs, .btnTorol{
    width:50px;
    margin:5px;
}
.btnKezs {
    color: rgba(33, 117, 14, 0.7);
    border: 2px solid rgba(33, 117, 14, 0.5);
    background-color:rgba(142, 239, 48, 0.5);
}
.btnTorol {
    color: rgba(233, 24, 24, 0.7);
    border: 2px solid rgba(233, 24, 24, 0.5);
    background-color: rgba(217, 77, 77, 0.5);
}
.btnArchiv {
    color: rgba(18, 76, 89, 1);
    border: 2px solid rgba(18, 76, 89, 0.5);
    background-color: rgba(132, 217, 251, 0.5);
}
button:hover {
    transform: scale(1.10);
    transition: 0.3s;
}
#elorehaladas, #nincsKesz, #kesz, #archiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#ehMutato, h1 {
    padding:5px;
    background-color: beige;
    border-radius: 10px;
    border: 2px solid rgba(115, 73, 0, 0.5);
}